<!-- load reviews from data folder and display them in a grid -->
<ul class="grid reviews">
{{- range (index page.Site.Data page.Site.Language.Lang).reviews -}}
  <li>
    <div class="box review-card">
      <div class="review-body">
        {{ with .description }}<p>{{ . }}</p>{{ end }}
      </div>
      <div class="review-header">
        {{ $img := .image }}
        {{ $res := resources.GetMatch $img }}
        {{ if $res }}
          {{ if eq $res.MediaType.SubType "svg" }}
            <img src="{{ $res.RelPermalink }}" alt="{{ .name }}" class="avatar colorize_image">
          {{ else }}
            <img src="{{ ($res.Fit "200x200 jpg Smart q50").RelPermalink }}" alt="{{ .name }}" class="avatar colorize_image">
          {{ end }}
        {{ else }}
          <img src="{{ .image }}" alt="{{ .name }}" class="avatar colorize_image">
        {{ end }}

        <div class="review-info">
          <h3>{{ .name }}</h3>
          {{ with .function }}<div class="function">{{ . }}</div>{{ end }}
          {{ with (index . "date de soutenance") }}<div class="date">🗓️ {{ . }}</div>{{ end }}
        </div>
      </div>
    </div>
  </li>
{{- end -}}
</ul>
