<!-- load reviews from data folder and display them in a grid -->
<ul class="grid reviews">
{{- range (index page.Site.Data page.Site.Language.Lang).reviews -}}
  <li>
    <div class="box">
      <div class="review-header">
        <img 
          src="{{ if and (resources.GetMatch .image ) (ne (resources.GetMatch .image).MediaType.SubType "svg") }}
                {{ ((resources.GetMatch .image).Fit `200x200 jpg Smart q50`).RelPermalink | safeURL }}
              {{ else }}
                {{ .image }}
              {{ end }}" 
          alt="{{ .name }} image" 
          class="avatar colorize_image"
        >
        <div class="review-info">
          <h3>{{ .name }}</h3>
          {{ with .function }}<div class="function">{{ . }}</div>{{ end }}
          {{ with .date\ de\ soutenance }}<div class="date">🗓️ {{ . }}</div>{{ end }}
        </div>
      </div>
      <div class="review-body">
        {{ with .description }}<p>{{ . }}</p>{{ end }}
      </div>
    </div>
  </li>
{{- end -}}
</ul>
